@model MobChat.Microservices.ChatMicroservice.Domain.AggregatesModel.TextMessageAggregate.TextMessage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TextMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
