@model MobChat.Microservices.ChatMicroservice.Domain.AggregatesModel.ChatAggregate.Chat

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMemberPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMemberPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondMemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondMemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondMemberPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondMemberPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMessageDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMessageDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMessageDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMessageDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnline)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
